html
  head
    title= title
    link(
      href="/assets/css/style.css" 
      rel="stylesheet"
      )
  body
    h1= message
    
    ul
      each item in tourList
        li #{item.name} (Phương tiện: #{item.vehicle})
    script(src="/assets/js/script.js")

